.column {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.row {
  display: flex;
  flex-direction: row;
}

.player {
  flex: 1;
  padding: 10px;
}

.player-label {
  font-size: 20px;
  font-weight: 300;
  margin: 5px 0;
}

.player-inputs input {
  padding: 8px;
  font-size: 16px;
  flex: 2;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.player-inputs .input-light {
  background: rgba(0, 0, 0, 0.02);
}

.player-inputs button {
  flex: 1;
  margin-left: 15px;
  padding: 10px;
}

.btn {
  padding: 10px;
  margin-left: 25px;
  text-decoration: uppercase;
  letter-spacing: 0.25em;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  max-width: 250px;
}

.dark-btn {
  color: #e6e6e6;
  background: #141414;
}

.dark-btn:disabled {
  background: #f2f2f2;
  color: #c7c7c7;
}
